.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.filter-by-name {
  width: 180px;
  height: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
